<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.siacre.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icono_siacre"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono_siacre"
        android:supportsRtl="true"
        android:theme="@style/Theme.Frontend_android"
        android:usesCleartextTraffic="true">
        <activity android:name=".NuevoClienteActivity" android:exported="false" />
        <activity
            android:name=".ClientesActivity"
            android:exported="false" />
        <activity
            android:name=".UsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>